---
import MainLayout from "../layouts/MainLayout.astro"

import TitleImagePc from "@assetsLocal/title-image-pc.svg";
import TitleImageMb from "@assetsLocal/title-image-mb.svg";
---

<MainLayout title="Domov">
	<div class="w-full py-10">
		<img src={TitleImagePc.src} alt="title illustration with my name" class="hidden md:block">
		<img src={TitleImageMb.src} alt="title illustration with my name" class="md:hidden">
	</div>
</MainLayout>
