---
import MainLayout from "../layouts/MainLayout.astro"

import Title from "@components/Title.astro";
import Card from "@components/Card.astro";
import Edu from "@components/Edu.astro";
import SkillBar from "@components/SkillBar.astro";

import TitleImagePc from "@assetsLocal/title-image-pc.svg";
import TitleImageMb from "@assetsLocal/title-image-mb.svg";
import me from "@assetsLocal/me.svg";
import placeholder from "@assetsLocal/placeholder.png";
---

<MainLayout title="Domov">
	<div class="w-full py-10">
		<img src={TitleImagePc.src} alt="title illustration with my name" class="hidden md:block">
		<img src={TitleImageMb.src} alt="title illustration with my name" class="md:hidden">
	</div>

	<Title title="Projekty" subtitle="najnovšie" />
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
		<Card slug="finvio" type="uxui" category="projects"/>
		<Card slug="ticky" type="uxui" category="projects"/>
		<Card slug="gorazd" type="fe" category="projects"/>
		<Card slug="devity" type="uxui" category="projects"/>
	</div>
	<div class="w-max mx-auto">
		<a href="#projects" class="animated-underline mt-10 title uppercase">Všetky projekty</a>
	</div>

	<span id="about"></span>
	<div class="z-40 relative w-full max-w-full my-20">
		<div class="flex flex-col md:flex-row md:justify-between md:space-x-2 md:items-stretch mt-10">
			<div class="w-full md:w-[45%] self-center">
				<img src={me.src} alt="photo of me at competition Hack Kosice" class="w-full mx-auto">
			</div>
			<div class="w-full md:w-[45%] self-center mt-20 md:mt-0">
				<Title title="O mne"/>
				<div class="mt-2 text-dark">
					Volám sa Katarína Korečková a posledných 5 rokov sa primárne venujem UX/UI, grafike a front-end-u. Pri nových projektoch je jednou z mojich prvých otázok pre koho je vysledný produkt robený. Tým nemyslím kto je objednávateľom, ale kto bude v dennom styku s daným produktom (nezáleží či ide o digitálny alebo fyzický produkt). Snažím sa vždy čo najviac vžiť do role užívateľa a konzultovať s nimi návrhy, aby som sa uistila, že výsledný produkt im veci uľahčí a radi ho budú používať a nie presný opak. <br/><br/>

					Okrem návrhov mám skúsenosť aj s realizáciou dizajnov. V prípadne tvorby aplikácií používam na FE Blazor + TailwindCSS. Pri prezentačných weboch využívam Astro + TailwindCSS. <br/><br/>

					Mojou najväčšou záľubou je tvorenie. Vo voľnom čase rada navrhujem a vyrábam veci na 3D tlačiarni, od praktických vychytávok až po detailné dizajnové objekty. Pracujem aj s rezacím plotrom, kde si sama pripravujem návrhy a realizujem ich do fyzickej podoby – napríklad samolepky, obaly alebo drobné merchové produkty. Ak náhodou ešte ostane voľný čas, rada sa pohrám s mikrokontrolérom ESP32. <br/><br/>

					Posledné roky aktívne pôsobím ako inštruktorka 3D modelovania na <a href="https://lstme.sk/" target="_blank" aria-label="Navigates to LSTME website" class="no-underline text-orange hover:text-dark animated-underline font-semibold">LSTME</a> a zároveň sa podieľam na organizácii robotickej súťaže <a href="https://robotickybattle.sk/" target="_blank" aria-label="Navigates to RBA website" class="no-underline text-orange hover:text-dark animated-underline font-semibold">RBA</a>. Táto kombinácia kreativity, techniky a práce s ľuďmi ma naučila systematickosti, zodpovednosti, schopnosti dotiahnuť veci do konca a hlavne komunikácii s rôznymi ľudmi v rôznych situáciách. <br/><br/>

					Rada prepájam dizajn s funkčnosťou a nebojím sa kombinovať rôzne technológie – vždy ma zaujíma nielen ako vec vyzerá, ale aj ako funguje.
				</div>
			</div>
		</div>
		
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-20 w-full mx-auto">
			<div class="bg-beige border-2 border-dark rounded-3xl p-4 mt-4" id="skillsCard">
				<h2 class="">Skills</h2>

				<h4 class="text-lg m-0 mt-8">Dizajn & grafika</h4>
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
					<SkillBar title="Figma" value="80" />
					<SkillBar title="Canva" value="90" />
					<SkillBar title="Inkscape" value="80" />
					<SkillBar title="Adobe" value="50" />
					<SkillBar title="Gimp" value="50" />
					<SkillBar title="Príprava podkladov do tlače" value="70" />
					<SkillBar title="3D modelovanie a tlač" value="70" />
				</div>
				
				<h4 class="text-lg m-0 mt-8">Front-end, Back-end</h4>
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
					<SkillBar title="C#" value="66" />
					<SkillBar title="Java" value="66" />
					<SkillBar title="HTML" value="80" />
					<SkillBar title="CSS" value="90" />
					<SkillBar title="TailwindCSS" value="71" />
					<SkillBar title="Astro" value="50" />
					<SkillBar title="JS" value="33" />
					<SkillBar title="SQL" value="33" />
					<SkillBar title=".NET" value="66" />
					<SkillBar title="C" value="33" />
					<SkillBar title="Python" value="33" />
					<SkillBar title="Git" value="70" />
					<SkillBar title="Linux" value="20" />
					<SkillBar title="Docker" value="5" />
					<SkillBar title="React" value="5" />
				</div>

				<h4 class="text-lg m-0 mt-8">Robotika</h4>
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
					<SkillBar title="Arduino / ESP32" value="70" />
					<SkillBar title="NXT/EV3" value="100" />
					<SkillBar title="PCB" value="20" />
				</div>
			</div>
			<div class="mt-4">
				<div class="bg-beige border-2 border-dark rounded-3xl p-4" id="workCard">
					<h2 class="">Pracovné skúsenosti</h2>
					
					<div class="flex flex-col space-y-4">
						<Edu title="Grafický dizajnér, UX/UI, Front-end" desc="od 2021, DEVITY Software" />
						<Edu title="Organizátorka robotickej súťaže RBA" desc="od 2023, Robotický Battle na Alejovej" />
						<Edu title="Lektorka krúžkov pre žiakov ZŠ" desc="2023 - 2025" />
						<Edu title="Inštruktorka 3D modelovania" desc="od 2020, LSTME" />
						<Edu title="Junior Software Engineer" desc="2022, NESS Košice" />
					</div>
				</div>

				<div class="bg-beige border-2 border-dark rounded-3xl p-4 mt-4" id="eduCard">
					<h2 class="">Vzdelanie</h2>
					
					<div class="flex flex-col space-y-4">
						<Edu title="Informatika, Ing." desc="2023 - 2025, FEI TU Košice" />
						<Edu title="Informatika, bc." desc="2020 - 2023, FEI TU Košice" />
						<Edu title="LSTME" desc="2016 - 2019, IT sústredenie" />
						<Edu title="Gymnázium" desc="2012 - 2020, Gymnázium Alejová 1, Košice" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<span id="projects"></span>
	<Title title="Projekty" subtitle="všetky" />
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
		<Card slug="finvio" type="uxui" category="projects"/>
		<Card slug="ticky" type="uxui" category="projects"/>
		<Card slug="gorazd" type="fe" category="projects"/>
		<Card slug="devity" type="uxui" category="projects"/>
		<Card slug="compex" type="uxui" category="projects"/>
		<Card slug="rba" type="graphic" category="projects"/>
		<Card slug="lstme" type="graphic" category="projects"/>
		<Card slug="revival" type="fe" category="projects"/>
		<Card slug="print" type="graphic" category="print"/>
		<Card slug="livity" type="fe" category="projects"/>
		<Card slug="tricka" type="graphic" category="print"/>
		<Card slug="mystical" type="fe" category="projects"/>
		<Card slug="bluemonday" type="graphic" category="projects"/>
		<Card slug="chyzka" type="fe" category="projects"/>
	</div>

</MainLayout>
