<nav class="z-50  relative h-10">
    <div class="fixed w-full py-5 bg-white shadow-md" id="navbar">
        <div class="max-w-[90%] mx-auto flex flex-row justify-between items-stretch">
            <!-- Logo -->
            <div class="self-center">
                <a href="#hero" class="outline-none p-0 w-24 font-bold text-2xl" aria-label="navigate to home a">
                    <span class="text-purple">K</span>M
                </a>
            </div>
            <!-- Menu Items -->
            <div class="hidden space-x-6 self-center text-sm font-normal md:flex">
                <a href="#services" class="animated-underline self-center" aria-label="navigate to services button">
                    SERVICES
                </a>
                <a href="#about" class="animated-underline self-center" aria-label="navigate to about me button">
                    ABOUT
                </a>
                <a href="#projects" class="animated-underline self-center" aria-label="navigate to projects button">
                    PROJECTS
                </a>
                <a href="#contact" class="animated-underline self-center" aria-label="navigate to contact button">
                    CONTACT
                </a>
            </div>

            <!-- Hamburger Icon -->
            <button id="menu-btn" class="block hamburger self-center md:hidden focus:outline-none" aria-label="toggle mobile menu button">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
        </div>
    </div>
</nav>

<div id="menu" class="full-screen hidden z-50 fixed backdrop-blur-sm mt-10">
    <div class="font-semibold tracking-widest bg-white">
        <div class="flex flex-col max-w-[90%] mx-auto">
            <a href="#services" class="w-[95%] mx-auto outline-none border-0 text-right px-2 py-4" aria-label="navigate to services a">SERVICES</a>
            <hr class="w-full border-0 border-b border-gray-500">
            <a href="#about" class="w-[95%] mx-auto outline-none border-0 text-right px-2 py-4" aria-label="navigate to about me a">ABOUT</a>
            <hr class="w-full border-0 border-b border-gray-500">
            <a href="#projects" class="w-[95%] mx-auto outline-none border-0 text-right px-2 py-4" aria-label="navigate to projects a">PROJECTS</a>
            <hr class="w-full border-0 border-b border-gray-500">
            <a href="#contact" class="w-[95%] mx-auto outline-none border-0 text-right px-2 py-4" aria-label="navigate to contact a">CONTACT</a>
        </div>
    </div>
</div>