---
const {title, value} = Astro.props;
---

<div class="flex flex-col space-y-2">
    <h6 class="font-light">{title ?? "title"}</h6>
    <div class="w-full bg-gray h-2 rounded-md">
        <div class="h-2 bg-dark pl-2 text-purple text-xs rounded-md" style=`width:${value}%;`></div>
    </div>
</div>