---
const {title, subtitle} = Astro.props;
---

<div class="flex flex-col">
    <span class="text-gray uppercase">
        {subtitle}
    </span>
    <h1 class="text-pink">
        {title}
    </h1>
</div>