---
import { Image } from 'astro:assets';

import Title from "@components/Title.astro";
import Subtitle from "@components/Subtitle.astro";

import profile from "../assets/ja-hk.jpg";

import SkillBar from '@components/SkillBar.astro';
import Edu from '@components/Edu.astro';
---

<span id="about" class="h-20"></span>
<div class="z-40 relative max-w-[90%] mx-auto mt-20">
    <Subtitle text="about me"/>
    <Title text="let me introduce myself..."/>
    
    <div class="flex flex-col m:flex-row m:justify-center m:space-x-2 m:items-stretch mt-10">
        <div class="w-[45%] self-center">
            <Image src={profile} alt="photo of me at competition Hack Kosice" class="w-3/4 lg:w-2/3 l:w-1/2 mx-auto rounded-lg">
        </div>
        <div class="w-[80%] m:w-[45%] self-center">
            <span class="text-base s:text-lg">Hi, I'm</span><br>
            <span class="text-purple text-xl s:text-3xl tracking-wider font-bold">Katarína MARCINČÁKOVÁ</span> <br>
            <div class="mt-2 text-sm s:text-base text-gray-500">
                I am a front-end developer and an UX/UI designer. 
                In my free time, I build stuff with Arduino and ESP32, model and print on 3D printer, play the piano, and do sports. I also volunteer at <a href="https://robotickybattle.sk/" target="_blank" aria-label="Navigates to RBA website" class="no-underline text-lightPurple hover:text-darkPurple animated-underline">RBA</a> and <a href="https://lstme.sk/" target="_blank" aria-label="Navigates to LSTME website" class="no-underline text-lightPurple hover:text-darkPurple animated-underline">LSTME</a>. For 6 years, I was a part of the school robotics team and we participated in many competitions.
            </div>
            <span id="contact" class="h-5"></span>
            <div class="pt-20 flex flex-col text-xs s:text-sm space-y-4">
                <a href="mailto:marcincakova.katarina@gmail.com" target="_blank" class="no-underline animated-underline w-max" aria-label="mail to my email address">
                    <div class="inline-flex items-baseline"><i class="fa-solid fa-at self-center text-yellow"></i>&nbsp;marcincakova.katarina@gmail.com</div>
                </a>
                <a href="https://www.linkedin.com/in/katarinamarcincakova/" target="_blank" class="no-underline animated-underline w-max" aria-label="Open my LinkedIn profile in the new tab">
                    <div class="inline-flex items-baseline"><i class="fa-brands fa-linkedin-in self-center text-yellow"></i>&nbsp;in/katarinamarcincakova</div>
                </a>
                <a href="https://github.com/KatkaMarcincakova" target="_blank" class="no-underline animated-underline w-max" aria-label="Open my GitHub profile in the new tab">
                    <div class="inline-flex items-baseline"><i class="fa-brands fa-github self-center text-yellow"></i>&nbsp;KatkaMarcincakova</div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-20 w-[80%] mx-auto">
        <div class="card mt-4" id="skillsCard">
            <h3 class="text-xl xxs:text-3xl font-bold tracking-wider text-purple">Skills</h3>
            
            <h4 class="text-lg m-0 mt-6">Front-end, Back-end</h4>
            <div class="grid grid-cols-1 xs:grid-cols-2 gap-4 mt-2">
                <SkillBar title="C#" value="66" />
                <SkillBar title="Java" value="66" />
                <SkillBar title="HTML" value="80" />
                <SkillBar title="CSS" value="90" />
                <SkillBar title="TailwindCSS" value="71" />
                <SkillBar title="Astro" value="50" />
                <SkillBar title="JS" value="33" />
                <SkillBar title="SQL" value="33" />
                <SkillBar title=".NET" value="66" />
                <SkillBar title="C" value="33" />
                <SkillBar title="Python" value="33" />
            </div>
            
            <h4 class="text-lg m-0 mt-6">Robotics</h4>
            <div class="grid grid-cols-1 xs:grid-cols-2 gap-4 mt-2">
                <SkillBar title="Arduino / ESP32" value="80" />
                <SkillBar title="NXT/EV3" value="100" />
                <SkillBar title="3D modeling" value="40" />
                <SkillBar title="PCB" value="20" />
            </div>
            
            <h4 class="text-lg m-0 mt-6">Other</h4>
            <div class="grid grid-cols-1 xs:grid-cols-2 gap-4 mt-2">
                <SkillBar title="Figma" value="80" />
                <SkillBar title="Canva" value="80" />
                <SkillBar title="Git" value="70" />
                <SkillBar title="Linux" value="20" />
            </div>
            
            <h4 class="text-lg m-0 mt-6">Beggining with</h4>
            <div class="grid grid-cols-1 xs:grid-cols-2 gap-4 mt-2">
                <div>
                    <h5 class="font-light">Docker</h5>
                </div>
                <div>
                    <h5 class="font-light">React</h5>
                </div>
            </div>
        </div>
        
        <div class="card mt-4" id="eduCard">
            <h3 class="text-xl xxs:text-3xl font-bold tracking-wider text-purple">Education</h3>
            
            <Edu title="Informatics, Ing." desc="2023 - present, Technical University of Kosice", icon="fa-graduation-cap" />
            <Edu title="Informatics, bc." desc="2020 - 2023, Technical University of Kosice", icon="fa-graduation-cap" />
            <Edu title="Technical Support Fundamentals" desc="2020, Google online course", icon="fa-laptop-code" />
            <Edu title="LSTME" desc="2016 - 2019, IT camp", icon="fa-laptop-code" />
            <Edu title="High school" desc="2012 - 2020, Gymnázium Alejová 1, Košice", icon="fa-graduation-cap" />
        </div>
    </div>
</div>