---
import { Image } from 'astro:assets';

import Title from "@components/Title.astro";
import Subtitle from "@components/Subtitle.astro";

import profile from "../assets/ja-sm.jpg";

---

<span id="about" class="h-20"></span>
<div class="z-40 relative max-w-[90%] mx-auto mt-20">
    <Subtitle text="about me"/>
    <Title text="let me introduce myself..."/>
    
    <div class="flex flex-col m:flex-row m:justify-center m:space-x-2 m:items-stretch mt-10">
        <div class="w-[45%] self-center">
            <Image src={profile} alt="me rba" class="w-3/4 lg:w-2/3 l:w-1/2 mx-auto rounded-lg">
        </div>
        <div class="w-[80%] m:w-[45%] self-center">
            <span class="text-base s:text-lg">Hi, I'm</span><br>
            <span class="text-purple text-xl s:text-3xl tracking-wider font-bold">Katarína MARCINČÁKOVÁ</span> <br>
            <div class="mt-2 text-sm s:text-base text-gray-500">
                I am a front-end developer and an UX/UI designer. 
                In my free time, I build stuff with Arduino and ESP32, model and print on 3D printer, play the piano, and do sports. I also volunteer at RBA&nbsp;<a href="https://robotickybattle.sk/" target="_blank" aria-label="Navigates to RBA website" class="no-underline text-lightPurple"><i class="fa-solid fa-link"></i></a> and LSTME&nbsp;<a href="https://lstme.sk/" target="_blank" aria-label="Navigates to LSTME website" class="no-underline text-lightPurple"><i class="fa-solid fa-link"></i></a>. For 6 years, I was a part of the school robotics team and we participated in many competitions.
            </div>
            <div id="contact" class="mt-12 flex flex-col text-xs s:text-sm space-y-2">
                <a href="mailto:marcincakova.katarina@gmail.com" target="_blank" class="no-underline" aria-label="mail to my email address">
                    <div class="inline-flex items-baseline"><i class="fa-solid fa-at self-center text-yellow"></i>&nbsp;marcincakova.katarina@gmail.com</div>
                </a>
                <a href="https://www.linkedin.com/in/katarinamarcincakova/" target="_blank" class="no-underline" aria-label="Open my LinkedIn profile in the new tab">
                    <div class="inline-flex items-baseline"><i class="fa-brands fa-linkedin-in self-center text-yellow"></i>&nbsp;in/katarinamarcincakova</div>
                </a>
                <a href="https://github.com/KatkaMarcincakova" target="_blank" class="no-underline" aria-label="Open my GitHub profile in the new tab">
                    <div class="inline-flex items-baseline"><i class="fa-brands fa-github self-center text-yellow"></i>&nbsp;KatkaMarcincakova</div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-20 w-[80%] mx-auto">
        <div class="card mt-4" id="skillsCard">
            <h3 class="text-xl xxs:text-3xl font-bold tracking-wider text-purple">Skills</h3>
            
            <h4 class="text-lg m-0 mt-7">Front-end, Back-end</h4>
            <div class="grid grid-cols-1 xs:grid-cols-2 gap-2">
                <div>
                    <h5 class="font-light">C#</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-2/3 h-2 bg-pink pl-2 text-purple text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">Java</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-2/3 h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">HTML</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-[80%] h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">CSS</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-[80%] h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">Tailwind CSS</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-[71%] h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">JS</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-1/3 h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">SQL</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-1/3 h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">.NET</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-2/3 h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">C</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-1/3 h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">Python</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-1/2 h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
            </div>
            
            <h4 class="text-lg m-0 mt-7">Robotics</h4>
            <div class="grid grid-cols-1 xs:grid-cols-2 gap-2">
                <div>
                    <h5 class="font-light">Arduino / ESP32</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-[90%] h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">NXT/EV3</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-full h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">3D modeling</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-[40%] h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">PCB</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-[20%] h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
            </div>
            
            <h4 class="text-lg m-0 mt-7">Other</h4>
            <div class="grid grid-cols-1 xs:grid-cols-2 gap-2">
                <div>
                    <h5 class="font-light">Figma</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-[70%] h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">Git</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-[80%] h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
                <div>
                    <h5 class="font-light">Linux</h5>
                    <div class="w-full bg-gray-200 h-2 rounded-md">
                        <div class="w-[20%] h-2 bg-pink pl-2 text-xs rounded-md"></div>
                    </div>
                </div>
            </div>
            
            <h4 class="text-lg m-0 mt-7">Beggining with</h4>
            <div class="grid grid-cols-1 xs:grid-cols-2 gap-2">
                <div>
                    <h5 class="font-light">Astro</h5>
                </div>
                <div>
                    <h5 class="font-light">Docker</h5>
                </div>
                <div>
                    <h5 class="font-light">React</h5>
                </div>
            </div>
        </div>
        
        <div class="card mt-4" id="eduCard">
            <h3 class="text-xl xxs:text-3xl font-bold tracking-wider text-purple">Education</h3>
            
            <div class="mt-7 flex flex-row space-x-3">
                <div class="text-pink text-lg">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div>
                    <span class="font-medium text-sm xxs:text-lg">Informatics, Ing.</span> <br/>
                    <span class="text-xs xxs:text-sm text-gray-500">2023 - present, Technical University of Kosice</span>
                </div>
            </div>

            <div class="mt-7 flex flex-row space-x-3">
                <div class="text-pink text-lg">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div>
                    <span class="font-medium text-sm xxs:text-lg">Informatics, BC</span> <br/>
                    <span class="text-xs xxs:text-sm text-gray-500">2020 - 2023, Technical University of Kosice</span>
                </div>
            </div>
            
            <div class="mt-7 flex flex-row space-x-3">
                <div class="text-pink text-lg">
                    <i class="fa-solid fa-laptop-code"></i>
                </div>
                <div>
                    <span class="font-medium text-sm xxs:text-lg">Technical Support Fundamentals</span> <br/>
                    <span class="text-xs xxs:text-sm text-gray-500">2020, Google online course</span>
                </div>
            </div>
            
            <div class="mt-7 flex flex-row space-x-3">
                <div class="text-pink text-lg">
                    <i class="fa-solid fa-laptop-code"></i>
                </div>
                <div>
                    <span class="font-medium text-sm xxs:text-lg">LSTME</span> <br/>
                    <span class="text-xs xxs:text-sm text-gray-500">2016 - 2019, IT camp&nbsp;<a href="https://lstme.sk/" target="_blank" class="no-underline text-lightPurple"  aria-label="Navigate to LSTME website"><i class="fa-solid fa-link"></i></a></span>
                </div>
            </div>
            
            <div class="mt-7 flex flex-row space-x-3">
                <div class="text-pink text-sm xxs:text-lg">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div>
                    <span class="font-medium text-lg">High school</span> <br/>
                    <span class="text-xs xxs:text-sm text-gray-500">2012 - 2020, Gymnázium Alejová 1, Košice</span>
                </div>
            </div>
        </div>
    </div>
</div>