---
import Title from "@components/Title.astro";
import Subtitle from "@components/Subtitle.astro";
import Carousel from "@components/CarouselCard.astro";
import Card from "@components/Card.astro";
---

<span id="projects" class="h-20"></span>
<div class="z-40 relative w-full max-w-full mt-20">
    <Subtitle text="projects" />
    <Title text="my work" />
      
    <div class="grid grid-cols-1 sm:grid-cols-2 m:grid-cols-3 gap-4 mt-5 w-full">
      <Card cardId="kitech"/>
      <Carousel cardId="msgorazd"/>
      <Carousel cardId="zsgorazd"/>
      <Card cardId="inlove"/>
      <Card cardId="rba"/>
      <Carousel cardId="livity"/>
      <Carousel cardId="mystical"/>
      <Carousel cardId="lstme"/>
      <Card cardId="revival"/>
      <Card cardId="waitbuddy"/>
      <Card cardId="devity"/>
      <Card cardId="chyzka"/>
      <Card cardId="nonogram"/>
      <Carousel cardId="muxly"/>
      <Carousel cardId="church"/>
  </div>
</div>