---
import { Image } from 'astro:assets';

import Title from "@components/Title.astro";
import Subtitle from "@components/Subtitle.astro";

import wireframesIcon from "../assets/reshot-icon-wireframes.svg";
import uxuiIcon from "../assets/reshot-icon-vector-YJ8AFESVX2.svg";
import feIcon from "../assets/reshot-icon-website-75HEZVRU2D.svg";
import codingIcon from "../assets/reshot-icon-programming-CPHQWNF9JY.svg";
---

<span id="services" class="h-40"></span>
<div class="z-40 relative max-w-[90%] mx-auto pt-10 overflow-x-hidden pb-10">
    <Subtitle text="services"/>
    <Title text="field of interest"/>
    
    <div class="grid grid-cols-1 xs:grid-cols-2 xs:gap-3 lg:grid-cols-4 lg:gap-5 mt-5 w-[80%] mx-auto">
        <div class="card space-y-4 mt-4 flex flex-col justify-between">
            <div class="w-[40%] mx-auto">
                <Image src={wireframesIcon} alt="wireframes icon" class="w-full">
            </div>
            <div class="h-full flex items-stretch">
                <h3 class="text-center font-semibold self-center w-full">Wireframes, UX</h3>
            </div>
        </div>
        
        <div class="card space-y-4 mt-4 flex flex-col justify-between">
            <div class="w-[40%] mx-auto">
                <Image src={uxuiIcon} alt="graphic icon" class="w-full">
            </div>
            <div class="h-full flex items-stretch">
                <h3 class="text-center font-semibold self-center w-full">UX/UI design, graphic design</h3>
            </div>
        </div>
        
        <div class="card space-y-4 mt-4 flex flex-col justify-between">
            <div class="w-[40%] mx-auto">
                <Image src={feIcon} alt="front-end icon" class="w-full">
            </div>
            <div class="h-full flex items-stretch">
                <h3 class="text-center font-semibold self-center w-full">Front-end</h3>
            </div>
        </div>
        
        <div class="card space-y-4 mt-4 flex flex-col justify-between" id="serviceCard">
            <div class="w-[40%] mx-auto">
                <Image src={codingIcon} alt="coding icon" class="w-full">
            </div>
            <div class="h-full flex items-stretch">
                <h3 class="text-center font-semibold self-center w-full">Coding</h3>
            </div>
        </div>
    </div>
</div>